body {
    align-self: center;
    justify-self: center;
    height: auto;
    background: #4c4c4c;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* HERO SECTION */

.herosection {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.herohomelink {
    display: flex;
    max-width: 100%;
    margin: auto;
}

.heroimg {
    width: 98%;
    height: auto;
    display: block;
    max-width: 95%;
    border-radius: 10px;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 5px;
}

.heroimg:hover {
    filter: brightness(1.2) contrast(1.1);
}


/* === NAVBAR CONTAINER === */

.navbar {
    justify-self: center;
    background-color: #232323;
    margin: auto;
    border: 1px solid gold;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* === TOP LEVEL NAV ITEMS === */

.navbarList {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbarItem {
    position: relative;
}

.navbarItem a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: gold;
}

.navbarItem a:hover {
    background-color: #555;
    cursor: pointer;
}

.navbarMenuTrigger {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: gold;
}

.navbarMenuTrigger:hover {
    background-color: #555;
    cursor: pointer;
}

/* === DROPDOWN LISTS === */

.navbarDropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.navbarDropdownItem {
    position: relative;
}

.navbarDropdownItem a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: gold;
}

.navbarDropdownItem a:hover {
    background-color: #555;
    cursor: pointer;
}

/* === MOBILE VERSION / HAMBURGER MENU === */

.navtogglemenu {
    display: none;
    background-color: #000;
    color: gold;
    border: none;
    padding: 15px 20px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid grey;
}

@media only screen and (max-width: 768px) {
	.navbar {
		width: 100%;
	}
    .navbarList {
        flex-direction: column;
        display: none;
    }

    .navtogglemenu {
        display: block;
    }
}

/* === WELCOME HEADER / WELCOME TEXT / ROSE FLOAT === */
.welcometext {
    background-color: #222;
    color: gold;
    text-align: center;
    padding: 20px;
    border: 1px solid gold;
    border-bottom: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 15px;
}

.welcometext h1, .welcometext p {
    margin: 20px 0;
}

/* === SKULL FLOAT CONTAINER STYLING === */
.skullfloat {
    width: auto;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #131313;
    border: 1px solid gold;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: none;
}

.skullfloatimg {
    max-height: 80%;
    animation: pulse 3s infinite alternate;
}

@keyframes pulse {
    0% {
        filter: brightness(1) contrast(1) saturate(1);
    }
    50% {
        filter: brightness(1.5) contrast(1.5) saturate(1.1);
    }
    100% {
        filter: brightness(1) contrast(1) saturate(1);
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/*  === HOT ITEM SECTION ===  */
.hot-item-title {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: #222;
    border: 1px solid gold;
    border-bottom: 0px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 15px;
    color: #fff400;
}

.hot-item-card {
    width: 100%;
    height: 30vh;  
    display: flex;
    align-items: center;
    border: 1px solid gold;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    margin: auto;
    background: #222;
}

.hot-item-image {
    height: 90%;
    width: auto;
    margin-right: 5px;
    margin-left: 10px;
    
}

.hot-item-image img {
    height: 90%;
    width: auto;  
    border: 1px solid black;  
    border-radius: 15px; 
}

.hot-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 98%;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-left: 20px;
    background: white;
    margin: auto;
    text-align: center;
}

.hot-item-content h2 {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {

    .hot-item-content h2 {
        font-size: 100%;
    }
    .hot-item-content p {
        display: none;
    }
    .hot-item-content {
        height: 99%;
        width: auto;
        margin-right: 1px;        
    }
    .hot-item-card {
        margin: auto;
    }
    .hot-item-card img {
        margin: auto;
    }
}

/*  === HOT ITEM VIEW MORE BUTTON ===  */
.shop-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;  
    color: #FFF;  
    text-decoration: none;
    border-radius: 5px;
}

/*  === CATALOGUE HEADER ===  */

.cat-title-sec {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: #222;
    border: 1px solid gold;
    border-bottom: 0px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 15px;
    color: #fff400;
}

.cat-title {
  text-align: center;
  align-items:center;
  justify-content: center;
	
}


/*  === CATALOGUE ITEM CARDS --- TO PRODUCT PAGE */

.catalogue {
  width: 100%;
  margin: auto;
  align-items: center;
  background-color: #222;
  height: auto;
  overflow: hidden;
  border: 1px solid gold;
  border-top: 1px dashed gold;
}

.cat-box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  gap: 5px;
  
}

.cat-link {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  display: flex;
  height: 100%;
  width: 30%;
  background-color: #ffffff00;
}

.cat-link img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.cat-link:hover {
  transform: scale(1.05);
  background-color: #00000000;
  color: #fff0;
  filter: invert(1) contrast(0.8) brightness(1.4);
}

/*  === CONTRACTS INSTRUCTIONS ===  */

.instructionText {
    background-color: #333; /* Dark background color */
    color: silver; /* Text color */
    text-align: left; /* Align text to the left */
    padding: 20px; /* Padding inside the div */
    border: 2px solid silver; /* Border color */
    border-radius: 15px; /* Rounded corners for the div */
    margin-top: 15px; /* Margin at the top */
    font-family: Arial, sans-serif; /* Font family */
}

.instructionText h1 {
    margin: 15px 0; /* Margin for the heading */
    font-size: 24px; /* Font size for the heading */
}

.instructionText ol {
    list-style-type: decimal; /* Style of the ordered list */
    padding-left: 40px; /* Padding for the list */
}

.instructionText li {
    margin: 10px 0; /* Margin for each list item */
    line-height: 1.6; /* Line height for better readability */
}

.instructionText img {
    vertical-align: middle; /* Align images with the text */
    margin-right: 5px; /* Spacing after images */
}
















/*  === TEMPLATE BUTTONS ===  */
.extras-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    text-align: center;
}

.extras-button {
    background: grey;
    border: 1px solid gold;
    height: 90%;
    width: 90%;
    margin: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.extras-button a {
    text-decoration: none;
    color: inherit;
}

.extras-button p {
    margin: auto;
    justify-self: center;
}

/* === TEMPLATES AND TEMPATE SECTIONS === */
.template-section {
    width: 85%;
    background-color: #eeeeee;
    color: #000;
    border: 1px solid #000;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.templates {
    display: flex;
    flex-direction: column;
}

.templates img {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.template-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* === OVERALL FOOTER STYLING === */
footer {
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 25vh;
    align-content: center;
    justify-content: space-between;
    margin-top: 20px;
}

footer a {
    color: gold;
    text-decoration: none;
    transition: 0.3s ease;
}

footer a:hover {
    color: #ffd700;
    text-decoration: underline;
    transition: 0.3s ease;
}

/* Third Column Styling */
.footercolumn:nth-child(3) {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.socialicon {
    margin-bottom: 10px;
}

.socialicon img {
    width: 24px;
    height: auto;
}

.socialicon:hover img {
    filter: brightness(1.2);
    transition: 0.3s ease;
}

@media only screen and (max-width: 768px) {
    .footercolumn {
        font-size: 12px;
        text-align: center;
        margin: auto;
    }

    .footercolumn a {
        height: 100%;
    }
	
}

/* === LEGAL PAGES TEXT STYLING ==*/

.legaltext {
    width: 85%;
    background-color: #eeeeee;
    color: #000;
    border: 1px solid #000;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.legaltext h1 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.legaltext h2 {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.legaltext p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.legaltext ul.legaltext-list {
    list-style-type: disc;
    margin-left: 20px;
}

.legaltext ul.legaltext-list li {
    margin-bottom: 10px;
}



/* === ANIMATIONS === */
/* === ANIMATIONS === */
/* === ANIMATIONS === */

/* === LOADING SPINNER --- PRODUCT PAGE=== */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    border: 8px solid #f3f3f3;     /* Light gray border */
    border-top: 8px solid #3498db; /* Blue border on top */
    border-radius: 50%;            /* Makes it circular */
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Apply the spinning animation */
    margin: auto;                   /* Center the spinner if the section has a fixed height and display: flex */
}



#pdf-viewer-container {
    width: 80%; /* Adjust as needed */
    margin: auto;
    text-align: center;
}

#pdf-render {
    border: 1px solid black;
    height: 600px; /* Adjust as needed */
    overflow: auto;
}

#navigation-controls, #zoom-controls {
    margin-top: 10px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.iframe-container {
  text-align: center;
}

iframe {
  display: inline-block;
}