
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #333, #222);
    margin: 0;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(to right, #272727, #1a1a1a);
    color: white;
}

@keyframes pulse {
    0% {
        background-color: #6868681a; /* Starting color */
    }
    50% {
        background-color: #6868683a; /* Mid color - slightly more opaque */
    }
    100% {
        background-color: #6868681a; /* Ending color, same as starting */
    }
}

.navimagewrapper {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    background: #6868682b;
    display: flex;
    align-items: center;
    gap: 5px;

    /* Adding the pulse animation */
    animation: pulse 1.5s infinite;
}

.logo-link .logo {
    max-height: 90px;
    margin-right: 20px;
}

.links-and-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links {
    background: transparent;
    width: 75%;
    display: flex;
    gap: 5px;
    align-items: center;
}

.nav-links a {
    width: 90px;
    text-align: center;
    font-size: 16px;
    background: #333333;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding: 5px 10px;
    border-radius: 4px;
}

.nav-links a:hover {
    color: #ddd;
    background-color: rgba(255, 255, 255, 0.1);
}

.action-btn {
    width: 120px;
    background-color: #9b6969;
    color: white;
    border: 2px solid gold;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.action-btn:hover {
    background-color: #1a1a1a;
    color: gold;
}

@media (max-width: 1200px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    .navimagewrapper {
        justify-content: center;
    }

    .nav-links {
        margin-top: 1px;
        justify-content: center;
        font-size: 75%;
        width: 90%;
        gap: 15px;
        background: #00000000;
    }

    .action-btn {
        margin-top: 5px;
    }
}

.site-footer {
    width: auto;
    border-top: 1px solid gold;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #1a1a1a;
    height: 300px;
    color: #fff;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 15px; /* Space between the header and the links */
}

.footer-column a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-column img {
    border: 1px solid gold;
    border-radius: 10px;
    height: 50px;
    width: auto;
    margin-right: 10px;
    filter: brightness(0.8) contrast(1.8);
}

.footer-column img:hover {
    border: 1px solid gold;
    border-radius: 10px;
    height: 50px;
    width: auto;
    margin-right: 10px;
    filter: brightness(1.1) contrast(1.2);
}



/* SITE TEMPLATE ABOVE */
/* PASTE NEW CONTENT BELOW */



.sliderwrapper {
    background: silver;
    display: flex;
    overflow-x: auto;
    white-space: nowrap; 
    padding: 20px 0;
    width: 100%; /* Ensures that it takes the full width of the parent container */
}

.sliderwrapper.active {
    cursor: grabbing;
}

.sliderwrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.sliderwrapper::-moz-scrollbar {
    width: 0;
    height: 0;
}

.sliderwrapper::-o-scrollbar {
    width: 0;
    height: 0;
}

.sliderwrapper::-ms-scrollbar {
    width: 0;
    height: 0;
}

.sliderwrapper {
    -ms-overflow-style: none; 
}

.itemcard {
    margin-left: 15px;
    flex: 0 0 auto;
    background: black;
    display: inline-block;
    margin-right: 20px;
    height: 175px;
    width: 20vw;
    max-width: 200px;
    border: 2px solid gold;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: box-shadow 0.3s, background-color 0.3s, transform 0.2s, border 0.3s;
}

.itemcard:hover {
    background: #222;
    border: 3px solid gold;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.itemproductlink {
    display: block;
    height: 100%;
}

.itemproductlink img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .itemcard {
        width: 50vw;
    }
}

.slider-instruction {
    background-color: #000;  /* A dark background to make it stand out */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
}

.instruction-wrapper {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.arrow {
    font-size: 2rem;
    color: gold;
    margin: 0 20px;
    user-select: none;  /* Makes it so that the arrows cannot be selected */
}

.instruction-text {
    flex-grow: 1;
    text-align: center;
    color: white;  /* For the instruction text color */
}

.instruction-text p {
    margin: 0;
    font-size: 1rem;
}

.logo {
    height: 150px;
}

.logo img {
    height: 90%;
}

.weclometext {
    background: linear-gradient(to bottom, #2c2c2c, #1a1a1a);
    padding: 15px 20px; /* Reduced padding */
    color: #fff;
    text-align: center;
    max-height: 350px; /* Added max-height */
    overflow: hidden; /* Hide anything beyond the 300px height */
}

.welcomeheader h3 {
    color: gold;
    font-size: 1.5em; /* Reduced font size */
    margin-bottom: 10px;
    border-bottom: 2px solid gold;
    display: inline-block;
    padding-bottom: 3px; /* Reduced padding */
}

.welcomepara p {
    margin-bottom: 10px; /* Reduced margin */
    font-size: 0.9em; /* Reduced font size */
    line-height: 1.4;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* This will create three equal columns */
    gap: 20px; /* Space between grid items */
    padding: 15px; /* Overall padding for the grid container */
}

.grid-item {
    background: #00000033;
    border: 1px solid gold;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, background-color 0.3s;
    height: 250px; /* Take up the full height of the grid cell */
    position: relative; /* Relative positioning for absolute positioned children */
}

.grid-item:hover {
    background: #222;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.grid-link {
    display: block;
    width: 100%;
    height: 100%; /* Take up full size of the grid item */
    position: absolute; /* Absolute positioning to stretch the link */
    top: 0;
    left: 0;
}

.grid-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 13px; /* Slightly less than the container to ensure the background shows */
}

.homedescriptions {
    display: flex;
    gap: 20px; /* for spacing between the boxes */
    justify-content: center;
    padding: 20px 0;
}

.homedescripitonwrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* vertically center the content */
    height: 30vh; /* or whatever height you need */
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.homedescripitonwrapper:hover {
    background-color: rgba(0, 0, 0, 0.6); /* subtle black overlay on hover */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.homedescriptions h1 {
    margin-bottom: 10px;
}

.homedescriptions ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .homedescriptions {
        flex-direction: column; 
    }

    .homedescripitonwrapper {
        margin-bottom: 20px;
    }
}








