
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #333, #222);
    margin: 0;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(to right, #000000, #000000);
    color: black;
}

@keyframes pulse {
    0% {
        background-color: #2e2e2e; /* Starting color */
    }
    50% {
        background-color: #1c1c1c; /* Mid color - slightly more opaque */
    }
    100% {
        background-color: #2e2e2e; /* Ending color, same as starting */
    }
}

.navimagewrapper {
    height: 75px;
    border: 0px solid white;
    border-radius: 10px;
    padding: 10px;
    background: #6868682b;
    display: flex;
    align-items: center;
    gap: 20px;
    animation: pulse 2s infinite;
}

.logo-link .logo {
    max-height: 72px;
    margin-right: 1px;
}

.logo {
    height: 85px;
    border: 1px solid silver;
    border-radius: 10px;
}

.links-and-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links {
    width: 75%;
    display: flex;
    gap: 5px;
    align-items: center;
}

.nav-links a {
    background: #4e4e4e;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding: 5px 10px;
    border-radius: 4px;
}

.nav-links a:hover {
    color: #ddd;
    background-color: rgba(255, 255, 255, 0.1);
}

.action-btn {
    width: 80px;
    background-color: black;
    color: white;
    border: 2px solid gold;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.action-btn:hover {
    background-color: #1a1a1a;
    color: gold;
}

@media (max-width: 1200px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 99%;
        padding: 0;
    }

    .navimagewrapper {
        align-self: center;
        justify-self: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 10px;
        margin: auto;
        border: 1px solid pink;
    }

    .logo-link, .site-name {
        margin: auto; /* Spacing between the logo and site name */
    }

    .logo, .site-name {
        max-width: 100%;  /* Adjust to ensure both the logo and site name fit side by side */
        height: 70%;
    }

    .nav-links {
        display: flex;
        margin-top: 1px;
        justify-content: center;
        font-size: 99%;
        width: 90%;
        gap: 15px;
        background: #414141;
    }

    .action-btn {
        margin-top: 5px;
    }
}

/* SITE FOOTER */

.site-footer {
    width: auto;
    border-top: 1px solid gold;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #1a1a1a;
    height: 300px;
    color: #fff;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 15px; /* Space between the header and the links */
}

.footer-column a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-column img {
    border: 1px solid gold;
    border-radius: 10px;
    height: 50px;
    width: auto;
    margin-right: 10px;
    filter: brightness(0.8) contrast(1.8);
}

.footer-column img:hover {
    border: 1px solid gold;
    border-radius: 10px;
    height: 50px;
    width: auto;
    margin-right: 10px;
    filter: brightness(1.1) contrast(1.2);
}


/* SITE TEMPLATE ABOVE */
/* PASTE NEW CONTENT BELOW */



/* THIS IS THE GALLERY SLIDER */

.gallery-wrapper {
	align-self: center;
	justify-self: center;
    display: flex;
	object-fit: cover;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    width: -webkit-fill-available;
    height: 80vh;
    background: linear-gradient(to bottom, #000000, #4e4e4e, #000000);
    padding: 1px;
    margin: 1px;
}


/* VIEWPORT AND MAIN IMAGE VIEW */

.viewport {
	padding: 1px;
	margin-top: 3px;
	margin-right: 3px;
	margin-left: 3px;
	margin-bottom: 5px;
	position: relative;
	object-fit: cover;
    flex-grow: 1;
	max-width: 98%;
	width: 97%;
	min-height: 65%;
	max-height: 75%;
    background: #00000000; 
    border: 5px solid #0000;
    border-radius: 10px;
    padding: 1px 1px 1px 1px;
    display: flex;
    align-items: flex-end;
	justify-content: center;
	border: 2px solid #70707000;
	filter: brightness(1.1) contrast(1.1);
}

.viewport img {
	margin-bottom: 1px;
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
	object-fit: contain;
	justify-self: center;
	align-self: center;
	padding: 1px;
	z-index: 100;
	height: 98%;
	width: 98%;
	max-width: 99%;
	max-height: 99%;
	filter: contrast(1.1) brightness(1.1);
}

.viewport, .thumbnail-slide {
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* THUMBNAIL SLIDER */

.thumbnail-slide {
	margin-bottom: 5px;
	overflow: hidden;
	justify-content: flex-start;
	position: relative;
    display: flex;
    align-items: center;
    height: 25vh;
    width: 95%;
    background: #000;
    border: 4px solid #323232;
    border-radius: 5px;
    padding: 2px;
	cursor: grab;
    white-space: nowrap;
}

.thumbnail-slide:active {
	cursor: grabbing;
}

.thumbnail-slide > div {
	background: linear-gradient(black, black, #858585);
	padding: 1px;
	flex-wrap: wrap;
	position: relative;
	transition: all 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-right: 2px;
	margin-left: 0px;
	min-width: 15px;
	height: 75%;
	object-fit: cover;
	border-radius: 5px;
	filter: contrast(0.5) brightness(1.0);
	scroll-behavior: smooth;
}

.thumbail-slide > div:hover {
	transform: translateY(-10%) scale(1.5);
	z-index: 2;
	filter: contrast(1.0) brightness(1.3);
}

.thumbnail-slide > div > img {
	align-self: center;
	justify-self: center;
	object-fit: inherit;
	border-radius: 4px;
}

/* THUMBNAIL CARDS */

.thumbnail-card {
	align-content: center;
	border: 1px solid #000000;
	height: 10px;
    background-color: #4A4A4A;
    padding: 0px;
    display: inline-block;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    width: 90px;
    overflow: hidden;
	transition: width 0.3s;
	object-fit: cover;
}

.thumbnail-card:first-of-type {
    margin-left: auto;
}

.thumbnail-card img {
	align-content: center;
	display: block;
	max-width: 99%;
	height: 99%;
	object-fit: fill;
	border-radius: 5px;
	border: 8px solid transparent;
}

.thumbnail-card:hover {
	transition: 0.1s;
	margin-right: 1px;
	margin-left: 0px;
	min-width: 50px;
	scale: 100%;
	filter: brightness(1.2);
	border: 1px solid #95862b;
}

.thumbnail-card.active {
	border: 3px solid #ffe74f;
	min-width: 50px;
	filter: contrast(1.1) brightness(1.5);
}

.scaled {
	max-height: 100vh;
	max-width: 100vw;
    cursor: grab;
}

.scaled:active {
    cursor: grabbing;
}


@media (max-width: 1200px) {

	
/* THUMBNAIL SLIDER */

.thumbnail-slide {
	margin-bottom: 5px;
	overflow: hidden;
	justify-content: flex-start;
	position: relative;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 91%;
    background: #000;
    border: 4px solid #323232;
    border-radius: 5px;
    padding: 2px;
	cursor: grab;
    white-space: nowrap;
}

}


/* BACK BUTTON */

.back-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Adjust this height as per your requirements */
}

.backbutton {
    background-color: #333;  /* Dark background */
    color: #f1f1f1;  /* Bright text */
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}

.backbutton:hover {
    background-color: #555;  /* Slightly lighter background on hover */
    transform: scale(1.05);  /* A little scale effect to give it some pop */
}

/* ADVERTISEMENTS */

.banner-ad-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Adjust width if necessary, currently it takes the full width of the parent container */
}

.ad-text {
    font-size: 10px; /* Adjust font size if necessary */
    color: #868686;    /* Slightly faded text color to not overpower the actual ad */
    margin-bottom: 2px; /* Space between the text and the image */
}

.banner-ad-image {
	margin: auto;
	border: 1px solid gold;
	border-radius: 10px;
	max-width: 100%;
    height: 5vh;
}