
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #333, #222);
    margin: auto;
    min-height: 100vh;
    width: 99%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

shopify-buy__btn {
  display: none;
}

/* HERO IMAGE */
.herohead {
	width: 100%;
	height: auto;
	margin: auto;
}

.hero1 {
    max-width: 99%;
    height: 99%;
    border: 1px solid gold;
    border-radius: 8px;
	margin: auto;
	
}


/* NAVIGATION BAR */

/* Basic Navbar Styles */



a {
	color: #FFF;
}

h1 {
	margin-top: 100px;
	text-align:center;
	font-size:60px;
	font-family: 'Bree Serif', 'serif';
	}

#container {
	margin: 0 auto;
}

p {
	text-align: center;
}

nav {
	margin: 50px 0;
	background-color: #000000;
}

nav ul {
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	color: gold;
	}
	
nav ul li {
	display:inline-block;
	background-color: #000000;
	color: gold;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
	color: gold;
}

nav a:hover { 
	background-color: #848484; 
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px;
}
	
nav ul li:hover > ul {
	display:inherit;
}

nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

li > a:after { content:  ''; }
li > a:only-child:after { content: ''; }


/* END SITE NAVIGATION BAR */

/* LEGAL TEXT FOROMAT */


.textcontent {
    text-align: center;
    background-color: #d1d1d1;
    width: 78%;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid gold;
	margin-bottom: 30px;
}

.styledheader {
    font-size: 22px;
    text-align: center;
    text-decoration: dotted underline;
    font-weight: bold;
    margin-bottom: 50px;
	margin: auto;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

p, ul {
    margin-bottom: 15px;
}

ul, li {
    margin-bottom: 10px;
}

/* END LEGAL TEXT FORMAT */


.first6wrapper {
	background: grey;
	width: 95%;
	margin: auto;
	padding: 15px;
}
/* CONTACT FORM */
.formlink {
    text-align: center;
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 3px;
    border: 1px solid gold;
    border-radius: 5px;
    box-shadow: 3px 3px #0000008a;
	margin: auto;
}

.formlink:hover {
    background: #4c4c4c;
    color: gold;
    text-decoration: underline;
}

form {
    text-align: center;
    width: 90%;
    margin: auto;
}

label {
    text-align: center;
    font-weight: bold;
}

input[type="text"], 
input[type="email"], 
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* END CONTACT FORM */






/* FEATURED PRODUCTS */
.featuredtext {
    text-align: center;
    padding: 20px;
    background: rgb(0 0 0); /* Soft gold background for emphasis */
    border-radius: 10px;
	color: gold;
	text-decoration: underline;
}

.featuredtext:hover {
	background: #181400;
}

.featuredtext p {
    margin: 10px 0;
	font-size: 85%;
}

.view-button {
    display: inline-block;
    color: gold;
    padding: 10px 20px;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;

}

.view-button:hover {
    background-color: gold;
    color: black;  /* Reverse colors on hover for emphasis */
}

.featureditems {
  justify-content: center;
  background: #333; /* Dark background color */
  margin: auto;
}

.featuredrowwrapper {
  align-items: center;
  display: flex;
  flex-direction: space-between;
  background: white;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow-x: scroll;
}

.featuredcard {
  background: #828282;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
  border: 1px solid black;
}

.featuredimage {
  width: 100%;
  max-height: 60%; /* Adjust the height of the image portion */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-component {
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  background: #4440; /* Button container background color */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.featuredrowwrapper::-webkit-scrollbar {
  width: 8px;
}

.featuredrowwrapper::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 4px;
}

/* END FEATURED PRODUCTS */


h1 {
    color: #000000;
}

h2 {
    color: #000000;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    list-style: none;
}



/* COLORING BOOK PAGE */

.coloringbooktextwrapper {
  margin: auto;
  font-size: 1em;
  padding: 10px;
  background: #c1c1c100;
  text-align: center;
}

.coloringbookintro {
  color: white;
  width: 90%;
  margin: auto;
}

/* Style for the card container */
.card {
    background: #d8d8d8;
    width: 98%;
    display: flex;
    flex-direction: row;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 8px;
    overflow: hidden;
    max-height: 95%; /* Set your preferred maximum width */
    margin: 0 auto; /* Center the card horizontally */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.freepagewrapper {
  display: flex;
  flex-direction: row;
  align: center;
  display: flex;
  flex-direction: row;
  height: 20vh;
  background: white;
  padding: 15px;
}

/* Style for the image container (left side) */
.image-container {
    height: 90%;
    flex: 1; /* Take up all available space */
    padding: 20px;
}

.image-container img {
    border: 2px solid black;
    border-radius: 10px;
    max-height: 100%; /* Ensure the image fits within the container */
    width: auto; /* Maintain the aspect ratio of the image */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
}

/* Style for the content container (right side) */
.content-container {
    max-height: 100%;
    margin-right: 25px;
    border: 2px solid black;
    border-radius: 10px;
    flex: 1; /* Take up all available space */
    background-color: #ddd7ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-container > p {
  margin: 3px;
  font-size: 100%;
}

.button {
    margin-bottom: 5px;
    margin: 3px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; /* Button background color */
    color: #ffffff; /* Button text color */
    text-decoration: none; /* Remove underlines from links */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    font-size: 0.8em; /* Button text size */
    cursor: pointer; /* Cursor style on hover */
}

.button:hover {
    border: 1px solid white;
    background-color: #2d3741; /* Change button color on hover */
}

.collection {
	background: #dadada;
	padding-top: 20px;
	padding-bottom: 20px;
}

.commision {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
	width: 96%;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gold;
	border-bottom: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
    background: transparent;
	padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.commision.expanded { 
    /* When the section is expanded, the border-radius becomes squared */
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.commision:hover {
    background-color: rgba(255, 215, 0, 0.1); /* Gold highlight on hover */
	scale: 1.1;
}

.commisionimage {
    display: block;
    margin: auto;
    max-height: 75%;  /* This will shrink the image a bit, adjust as needed */
}

#commisionContent, #roseFloat {
    display: none;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;  /* For a smooth effect */
    opacity: 0;  /* To make it transparent initially */
    max-height: 0;   /* To ensure it doesn't take any space */
    overflow: hidden; /* To ensure content doesn't overflow when height is set to 0 */
}

.commisioncontent {
	line-height: 1.1;
    text-align: center;
	width: 96%;
    margin: auto;
    padding: 15px;
    border: 1px solid gold;
	border-top: none;
	border-bottom: none;
	color: gold;
	font-size: 12px;
}

.commisioncontent p {
	text-align: center;
	font-size: 14px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100%;
	width: auto;
}

.rosefloat {
    display: flex;
	flex-direction: row;
    background: linear-gradient(90deg, transparent, rgb(255 215 0 / 10%), transparent); /* This creates the gradient streak */
    background-size: 300% 100%; /* Makes the background wider than the container to allow movement */
    background-position: -100% 50%; /* Initial position set outside the element on the left */
    animation: moveStreak 20s linear infinite; /* Animation to move the streak */  
    width: 96%;
    height: 70px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gold;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: gold;
	border-top: none;
}

@keyframes moveStreak {
    0% {
        background-position: -100% 50%; /* Starts off the view on the left */
    }
    100% {
        background-position: 200% 50%; /* Moves to the right, making sure the streak completely leaves the view */
    }
}

.rosefloat img {
	max-height: 100%;
    animation: pulse 12s infinite;
    max-width: 100%; 
    height: auto;
	margin: 0;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.9;
        brightness: 0.8;
        saturate: 0.5;       /* You can modify saturation levels if desired */
        hue-rotate: 0deg;  /* For hue rotation */
        invert: 0%;       /* For inverting colors */
        sepia: 0%;        /* For sepia effect */
    }
    50% {
        transform: scale(1.1);
        opacity: 1.2;
        brightness: 1.2;
        saturate: 1.8;       /* You can modify saturation levels if desired */
        hue-rotate: 0deg;  /* For hue rotation */
        invert: 25%;       /* For inverting colors */
        sepia: 0%;        /* For sepia effect */
    }
    100% {
        transform: scale(1);
        opacity: 0.9;
        brightness: 0.8;
        saturate: 0.5;       /* You can modify saturation levels if desired */
        hue-rotate: 0deg;  /* For hue rotation */
        invert: 0%;       /* For inverting colors */
        sepia: 0%;        /* For sepia effect */
    }
}

#collapseCommision {
    display: none;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;  /* For a smooth effect */
    opacity: 0;  /* To make it transparent initially */
    max-height: 0;   /* To ensure it doesn't take any space */
    overflow: hidden; /* To ensure content doesn't overflow when height is set to 0 */
}

.aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
	width: 96%;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gold;
	border-bottom: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
    background: transparent;
	padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.aboutus:hover {
    background-color: #857000;
    scale: 1.1;
}

.aboutusimage {
    display: block;
    margin: auto;
    max-height: 75%;  /* This will shrink the image a bit, adjust as needed */
}

.aboutuscontent {
	line-height: 1.1;
    text-align: center;
	width: 96%;
    margin: auto;
    padding: 15px;
    border: 1px solid gold;
	border-top: none;
	border-bottom: none;
	color: gold;
	font-size: 12px;
}

#aboutusContent, #roseFloatAbout {
    display: none;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.center-flex {
    display: flex;
    justify-content: center; /* Centers child elements horizontally */
    align-items: center;     /* Centers child elements vertically */
    height: 100%;            /* Take the full height of the parent, adjust as needed */
}



























/* END COLORING BOOK PAGE */



/* SITE FOOTER */


.site-footer {
    background-color: #333;
    padding: 20px 10px; /* Adjust padding for smaller screens */
    color: white;
    display: flex;
    flex-direction: row; /* Stack columns vertically on mobile */
    text-align: center; /* Center-align text */
}

.footer-column {
    width: 100%; /* Stretch columns to full width on mobile */
    margin-bottom: 20px; /* Add spacing between columns */
}

.footer-column h4 {
    font-size: 1.3em;
    margin-bottom: 10px; /* Reduce space between header and links on mobile */
}

.footer-column a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 0;
    transition: background-color 0.3s, color 0.3s;
}

.footer-column a:hover {
    background-color: #555;
}

.footer-column img {
    width: 40px;
    height: 40px;
    margin: 5px;
    filter: brightness(0.8) contrast(1.8);
}

.footer-column img:hover {
    filter: brightness(1.2) contrast(1.2);
}






